* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  color: #ffffff;
  background: linear-gradient(135deg, #006600, #cc0000);
  overflow-x: hidden;
}


.container {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subtitle {
  opacity: 0.85;
  margin-bottom: 40px;
}

.card {
  background: #ffffff;
  color: #222;
  border-radius: 20px;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.card p {
  margin: 12px 0;
  font-size: 18px;
}

.flag {
  width: 160px;
  display: block;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}

footer {
  margin-top: 40px;
  font-style: italic;
  opacity: 0.8;
}
